includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app
        - config
        - bootstrap
        - database/factories

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined method Filament\\Forms\\Components\\TextInput::money\(\)#'
        - '#Call to an undefined method Spatie\\Image\\Drivers\\ImageDriver::nonQueued\(\)#'
        - '#Call to protected method getFormStatePath\(\) of class Filament\\Forms\\FormsComponent#'

#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php